
<br />
<br />

<%= paginate @batch_logs %>

<% if @batch_logs.length > 0 %>
<table>
  <tr>
    <th style="white-space: nowrap;">No.</th>
    <!--<th>Name</th>-->
    <th style="white-space: nowrap;">Description</th>
    <th style="white-space: nowrap;">StartAt／EndAt</th>
    <th style="white-space: nowrap;">Time(sec.)</th>
    <th style="white-space: nowrap;">TotalCount</th>
    <th style="white-space: nowrap;" colspan="4">Result</th>
  </tr>

<% @batch_logs.each_with_index{ |batch, index| %>
  <%# ツイート取得ルーム数 %>
  <% room_count = batch.result.split("\n").length + 1 rescue 1 %>
  <tr>
    <%# No. %>
    <td style="white-space: nowrap;" rowspan="<%= room_count %>"><%= (index + 1) %></td>
    
    <%# Name %>
    <% if false %><td><%= batch.name %></td><% end %>
    
    <%# Description %>
    <td style="white-space: nowrap;" rowspan="<%= room_count %>"><%= batch.description %></td>
    
    <%# StartAt／EndAt %>
    <td style="white-space: nowrap;" rowspan="<%= room_count %>">
      <%= batch.start_at.strftime("%Y/%m/%d %H:%M:%S") unless batch.start_at.blank? %><br />
      <%= batch.end_at.strftime("%Y/%m/%d %H:%M:%S") unless batch.end_at.blank? %>
    </td>
    
    <%# ProcessTime %>
    <td style="white-space: nowrap;" rowspan="<%= room_count %>"><%= sprintf( "%.3f", batch.process_time.to_f ) %></td>
    
    <%# TotalCount %>
    <td style="white-space: nowrap;" rowspan="<%= room_count %>"><%= batch.total_count %></td>
    
    <%# Result %>
    <% batch_row = batch.result.split("\n") %>
    <%# 行ループ %>
    <% batch_row.each{ |row| %>
    <tr>
      <% batch_column = row.split("|") %>
      <%# 列ループ %>
      <%# batch_column.each{ |result| %>
      <td style="white-space: nowrap;"><%= link_to batch_column[1], { controller: "tweets", action: "index", room_id: batch_column[0] }, target: "_blank" %></td>
      <td style="white-space: nowrap;"><%= batch_column[4] %></td>
      <td style="white-space: nowrap;"><%= batch_column[2] %></td>
      <td style="white-space: nowrap;"><%= batch_column[3] %></td>
      <%# } %>
    </tr>
    <% } %>
  </tr>
<% } %>

</table>
<% end %>

<%= paginate @batch_logs %>

<br />
<br />
