
<%= link_to "Room", { controller: "rooms", action: 'show', id: @room.id } %><br />

<h2><%= link_to @room.hash_tag, { action: 'index', room_id: @room.id } %></h2>

<%# Tweet作成フォーム %>
<%= form_for :tweet, url: { action: 'create', room_id: @room.id } do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# ハッシュタグ前付加 %>
  <% if @room.hash_tag_position == "before" %>
    <%# Twitterへのリンク(ハッシュタグ) %>
    <span><%= link_to( @room.hash_tag, "https://twitter.com/#!/search/realtime/#{CGI.escape(@room.hash_tag)}", target: "_blank", id: "hash_tag" ) %></span><br />
  <% else %>
    <%= check_box_tag "position_flag", "before", false %><%= label_tag "position_flag", " ハッシュタグを前に付ける" %><br />
  <% end %>
  
  <%# 投稿テキストエリア %>
  <span class="field">
    <%= f.text_area :post, rows: "5", cols: "50", onKeyup: "str_count(value);" %>
  </span>
  
  <br />

  <%# ハッシュタグ後付加 %>
  <% if @room.hash_tag_position == "after" %>
    <%# Twitterへのリンク(ハッシュタグ) %>
    <span><%= link_to( @room.hash_tag, "https://twitter.com/#!/search/realtime/#{CGI.escape(@room.hash_tag)}", target: "_blank", id: "hash_tag" ) %></span><br />
  <% else %>
    <%= check_box_tag "position_flag", "after", false %><%= label_tag "position_flag", " ハッシュタグを後に付ける" %><br />
  <% end %>

  <%# Twitter連携 %>
  Twitter連携：
  <% if @room.twitter_synchro == true %>
    ON<br />
  <% else %>
    OFF<br />
  <% end %>
  
  <%# 文字数カウント %>
  <span id="str_length"><%= @str_count %>文字</span><br />
  
  <%# Postボタン %>
  <span class="actions"><%= f.submit "Post", disable_with: "Post" %></span><br />
<% end %>

<%# アイコン一覧 %>
<p>
メンバーズ：<br />
  <% @icon_hash.each_pair{ |key, value| %>
    <% unless value[:image].blank? %>
      <%#= link_to_unless( value[:screen_name].blank?, image_tag( value[:image], size: "20x20" ), "https://twitter.com/#!/#{value[:screen_name]}", target: "_blank", title: value[:screen_name] ) rescue nil %>
      <%= link_to_unless( value[:from_twitter_user_id].blank?, image_tag( value[:image], size: "20x20" ), { action: 'index', room_id: @room_id, twitter_user_id: value[:from_twitter_user_id] }, title: value[:screen_name] ) rescue nil %>
    <% end %>
  <% } %>
</p>

<center><%= paginate @tweets %></center>

<div style="text-align: left;">総ツイート数：<%= @tweets.total_count %><br /></div>

<%# Tweet一覧 %>
<% if @tweets.length > 0 %>
<table>
  <tr>
    <th>No.</th>
    <th>User</th>
    <th>Post</th>
    <th>Time</th>
    <% if @exist_me == true or current_user.is_super? %><th></th><% end %>
  </tr>

<% @tweets.each_with_index{ |tweet, index| %>
  <tr>
    <%# No. %>
    <td><%= (index + 1) %></td>
    
    <%# User %>
    <td align="center">
      <% unless tweet.user_image_url.blank? %>
        <%= link_to_unless( tweet.from_twitter_user.blank?, image_tag( tweet.user_image_url, size: "20x20" ), "https://twitter.com/#!/#{tweet.from_twitter_user}", target: "_blank", title: tweet.from_twitter_user ) rescue nil %>
      <% end %>
    </td>
    
    <%# Post %>
    <td><%= auto_link( simple_format(tweet.post), html: { target: '_blank' } ) %></td>
    
    <%# Time %>
    <td style="white-space: nowrap;"><%= link_to_unless( tweet.created_at.blank?, tweet.created_at.strftime("%Y/%m/%d %H:%M:%S"), "https://twitter.com/#!/#{tweet.from_twitter_user}/status/#{tweet.from_twitter_id}", target: "_blank" )  unless tweet.created_at.blank? %></td>
    
    <%# Delete %>
    <% if session[:user_id] == tweet.user_id or current_user.is_super? %>
      <td><%= link_to "Delete", { action: 'delete', id: tweet.id, room_id: @room.id }, onClick: "return confirm('「No.#{(index + 1)}」を削除します。よろしいですか？');" %></td>
    <% end %>
  </tr>
<% } %>
</table>
<% end %>

<br />

<center><%= paginate @tweets %></center>

<br />
<br />
