
<h2><%= link_to @room.hash_tag, { action: 'index', room_id: @room.id } %></h2>

<%# Tweet作成フォーム %>
<%= form_for :tweet, url: { action: 'create', room_id: @room.id } do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# ハッシュタグ前付加 %>
  <% if @room.hash_tag_position == "before" %>
    <span id="hash_tag"><%= link_to( @room.hash_tag, "https://twitter.com/#!/search/realtime/#{CGI.escape(@room.hash_tag)}", target: "_blank"  ) %></span><br />
  <% else %>
  <%= check_box_tag "position_flag", "before", false %><%= label_tag "position_flag", " ハッシュタグを前に付ける" %><br />
  <% end %>
  
  <%# 投稿テキストエリア %>
  <span class="field"><%= f.text_area :post, rows: "7", cols: "80", onKeyup: "str_count(value);" %></span>
  
  <br />

  <%# ハッシュタグ後付加 %>
  <% if @room.hash_tag_position == "after" %>
    <span id="hash_tag"><%= link_to( @room.hash_tag, "https://twitter.com/#!/search/realtime/#{CGI.escape(@room.hash_tag)}", target: "_blank"  ) %></span><br />
  <% else %>
    <%= check_box_tag "position_flag", "after", false %><%= label_tag "position_flag", " ハッシュタグを後に付ける" %><br />
  <% end %>

  <%# Twitter連携 %>
  Twitter連携：
  <% if @room.twitter_synchro == true %>
    ON<br />
  <% else %>
    OFF<br />
  <% end %>
  
  <%# 文字数カウント %>
  <span id="str_length"><%= @str_count %>文字</span><br />
  
  <%# Postボタン %>
  <span class="actions"><%= f.submit "Post", disable_with: "Post" %></span><br />
<% end %>

<%# アイコン一覧 %>
<p>
メンバーズ：<br />
  <% @icon_hash.each_pair{ |key, value| %>
    <% unless value[:image].blank? %>
      <%= link_to_unless( value[:screen_name].blank?, image_tag( value[:image], size: "20x20" ), "https://twitter.com/#!/#{value[:screen_name]}", target: "_blank"  ) %>
    <% end %>
  <% } %>
</p>

総ツイート数：<%= @tweets.length %>

<%# Tweet一覧 %>
<% if @tweets.length > 0 %>
<table>
  <tr>
    <th>No.</th>
    <th>User</th>
    <th>Post</th>
    <th>Time</th>
    <th></th>
  </tr>

<% @tweets.each_with_index{ |tweet, index| %>
  <tr>
    <%# No. %>
    <td><%= (index + 1) %></td>
    
    <%# User %>
    <td align="center">
      <% unless tweet.user_image_url.blank? %>
        <%= link_to_unless( tweet.user_image_url.blank?, image_tag( tweet.user_image_url, size: "20x20" ), "https://twitter.com/#!/#{tweet.user.try(:screen_name)}", target: "_blank" ) %>
      <% end %>
    </td>
    
    <%# Post %>
    <td><%= auto_link( simple_format(tweet.post), html: { target: '_blank' } ) %></td>
    
    <%# Time %>
    <td style="white-space: nowrap;"><%= link_to_unless( tweet.created_at.blank?, tweet.created_at.strftime("%Y/%m/%d %H:%M:%S"), "https://twitter.com/#!/#{tweet.from_twitter_user}/status/#{tweet.from_twitter_id}", target: "_blank" )  unless tweet.created_at.blank? %></td>
    
    <%# Delete %>
    <td><% if session[:user_id] == tweet.user_id %><%= link_to "Delete", { action: 'delete', id: tweet.id, room_id: @room.id }, onClick: "return confirm('「No.#{(index + 1)}」を削除します。よろしいですか？');" %><% end %></td>
  </tr>
<% } %>
</table>
<% end %>

<% if false %>
<!--
<br />
<br />
<br />

<h3 style="display: inline;">From Twitter</h3><br />

<span id="hash_tag"><%= link_to( @room.hash_tag, "https://twitter.com/#!/search/realtime/#{CGI.escape(@room.hash_tag)}", target: "_blank"  ) %></span><br />

<%# Tweet検索結果一覧 %>
<% if @get_tweets.length > 0 %>
<table>
  <tr>
    <th>No.</th>
    <th>User</th>
    <th>Post</th>
    <th>Time</th>
  </tr>

<% @get_tweets.each_with_index{ |tweet, index| %>
  <tr>
    <%# No. %><td><%= (index + 1) %></td>
    <%# User %><td align="center"><%= link_to_unless( tweet.from_user.blank?, image_tag( tweet.profile_image_url, size: "20x20" ), "https://twitter.com/#!/#{tweet.from_user}", target: "_blank"  ) %></td>
    <%# Post %><td><%= auto_link( simple_format(tweet.text), html: { target: '_blank' } ) %></td>
    <%# Time %><td style="white-space: nowrap;"><%= link_to_unless( tweet.created_at.blank?, tweet.created_at.strftime("%Y/%m/%d %H:%M:%S"), "https://twitter.com/#!/#{tweet.from_user}/status/#{tweet.id}", target: "_blank" )  unless tweet.created_at.blank? %><%#= tweet.created_at.strftime("%Y/%m/%d %H:%M:%S") unless tweet.created_at.blank? %></td>
  </tr>
<% } %>
</table>
<% end %>
-->
<% end %>

<br />
<br />
<br />
