<%= form_for :room, url: { action: 'create' } do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if false %>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
<% end %>
  
  <span class="field">
    <%= f.label :hash_tag %>：<%= f.text_field :hash_tag %>
  </span>
  
  <span class="actions">
    <%= f.submit "Save" %>
  </span>
<% end %>
