<h2>Editing room</h2>

<%= form_for :room, url: { action: 'update', id: @room.id } do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="field">
    <%= f.label :hash_tag, "HashTag" %>：<br />
    <%= f.text_field :hash_tag, size: 30 %><br />
  </span>
  
  <br />
  
  <span class="field">
    <%= f.label :hash_tag_position, "HashTag付加位置" %><br />
    <%= f.radio_button :hash_tag_position , "before" %><%= f.label :hash_tag_position_before, " 前" %>
    <%= f.radio_button :hash_tag_position , "after" %><%= f.label :hash_tag_position_after, " 後" %>
    <br />
  </span>
  
  <br />

<% if false %>
  <span class="field">
    <%= f.check_box( :twitter_synchro, { checked: @room.twitter_synchro }, true, false ) %>
    <%= f.label :twitter_synchro, "Twitter同時投稿" %><br />
  </span>
  
  <br />
<% end %>

  <span class="field">
    <%= f.label :search_query, "SearchQuery" %>：<br />
    <%= f.text_field :search_query, size: 50 %><br />
  </span>
  
  <br />
  
<% if current_user.uid == "14369656" %>
  <span class="field">
    <%= f.check_box( :worker_flag, { checked: @room.worker_flag }, true, false ) %>
    <%= f.label :worker_flag, "Twitterツイート取得" %><br />
  </span>
  
  <br />
<% end %>

  <span class="actions">
    <%= f.submit "Save" %>
  </span>
<% end %>

<br />

<%= link_to 'List', action: "index" %>
