
<br />
<br />

<%= link_to "Tweets", { controller: "tweets", action: 'index', room_id: @room.id } %>
 | <%= link_to "Edit", { action: 'edit', id: @room.id } %><br />

<h2>Room Tweets</h2>

<%# アイコン一覧 %>
<p>
  <% @icon_hash.each_pair{ |key, value| %>
    <% unless value[:image].blank? %>
      <%= link_to_unless( value[:screen_name].blank?, image_tag( value[:image], size: "20x20" ), "https://twitter.com/#!/#{value[:screen_name]}", target: "_blank", title: value[:screen_name] ) %>
    <% end %>
  <% } %>
</p>

<br />

<h3 style="display: inline;">From Twitter</h3><br />

<span id="hash_tag"><%= link_to( @room.hash_tag, "https://twitter.com/#!/search/realtime/#{CGI.escape(@room.hash_tag)}", target: "_blank"  ) %></span><br />

<%# Tweet検索結果一覧 %>
<% if @get_tweets.length > 0 %>
<table>
  <tr>
    <th>No.</th>
    <th>User</th>
    <th>Post</th>
    <th>Time</th>
  </tr>

<% @get_tweets.each_with_index{ |tweet, index| %>
  <%# print "[ tweet ] : " ; p tweet ; %>
  <tr>
    <%# No. %><td><%= (index + 1) %></td>
    <%# User %><td align="center"><%= link_to_unless( tweet.from_user.blank?, image_tag( tweet.profile_image_url, size: "20x20" ), "https://twitter.com/#!/#{tweet.from_user}", target: "_blank", title: tweet.from_user ) %></td>
    <%# Post %><td><%= auto_link( simple_format(tweet.text), html: { target: '_blank' } ) %></td>
    <%# Time %><td style="white-space: nowrap;"><%= link_to_unless( tweet.created_at.blank?, tweet.created_at.strftime("%Y/%m/%d %H:%M:%S"), "https://twitter.com/#!/#{tweet.from_user}/status/#{tweet.id}", target: "_blank" )  unless tweet.created_at.blank? %><%#= tweet.created_at.strftime("%Y/%m/%d %H:%M:%S") unless tweet.created_at.blank? %></td>
  </tr>
<% } %>
</table>
<% end %>

<br />
<br />
<br />

<%= link_to 'List', action: "index" %>
