
<h2><%= link_to @room.hash_tag, { action: 'show', id: @room.id } %></h2>

<%# Tweet作成フォーム %>
<%= form_for :tweet, url: { action: 'throw', room_id: @room.id } do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# 投稿テキスト %>
  <span class="field"><%= f.text_area :post, rows: "5", cols: "50" %></span>
  
  <br />
  
  <%# Postボタン %>
  <span class="actions"><%= f.submit "Post", disable_with: "Post" %></span>
  <%= @room.hash_tag %>
<% end %>

<%# アイコン一覧 %>
<p>
<%# @tweet_users.each{ |user| %>
  <% @tweet_hash.each_pair{ |key, value| %>
    <%#= link_to_unless( user.screen_name.blank?, image_tag( user.image, size: "20x20" ), "https://twitter.com/#!/#{user.screen_name}", target: "_blank"  ) %>
    <%#= link_to_unless( tweet.user.try(:screen_name).blank?, image_tag( tweet.user.try(:image), size: "20x20" ), "https://twitter.com/#!/#{tweet.user.try(:screen_name)}", target: "_blank"  ) %>
    <%= link_to_unless( value[:screen_name].blank?, image_tag( value[:image], size: "20x20" ), "https://twitter.com/#!/#{value[:screen_name]}", target: "_blank"  ) %>
  <% } %>
</p>

<%# Tweet一覧 %>
<table>
  <tr>
    <th>No.</th>
    <th>User</th>
    <th>Post</th>
    <th>Time</th>
    <th></th>
  </tr>

<% @tweets.each_with_index{ |tweet, index| %>
  <tr>
    <td><%= (index+1) %></td>
    <td align="center"><%= link_to_unless( tweet.user.try(:screen_name).blank?, image_tag( tweet.user.try(:image), size: "20x20" ), "https://twitter.com/#!/#{tweet.user.try(:screen_name)}", target: "_blank"  ) %></td>
    <td><%= tweet.post %></td>
    <td><%= tweet.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
    <td><% if session[:user_id] == tweet.user_id %><%= link_to "Delete", { action: 'retract', id: tweet.id, room_id: @room.id }, onClick: "return confirm('「#{tweet.post}」を削除します。よろしいですか？');" %><% end %></td>
  </tr>
<% } %>
</table>

<br />
