<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Roomz" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%# 文字数カウント %>
  <script type="text/javascript">
  <!-- 
    function str_count(str){
      var hash_tag = document.getElementById('hash_tag').innerHTML
      var val = str.replace(/\r\n/g, " ");

      document.getElementById('str_length').innerText = hash_tag.length + val.length + 1 + "文字";
      document.getElementById('str_length').textContent = hash_tag.length + val.length + 1 + "文字"; // Firefox用
    }
  //-->
  </script>
</head>
<body>

<% if current_user %>
  <%# ログイン済み %>
  <%= link_to_unless( current_user.screen_name.blank?, image_tag( current_user.image, size: "20x20" ), "https://twitter.com/#!/#{current_user.screen_name}", target: "_blank" ) %>
  <%= current_user.get_name %>
  : <%= link_to "Rooms" , controller: "rooms" %>
  | <%= link_to "Scheduler", controller: "tweets", action: "batch" %>
  || <%= link_to "Logout" , logout_path %>
<% else %>
  <%# 未ログイン %>
  <%= link_to "Login", "/auth/#{DEFAULT_PROVIDER}" %>
<% end %>

<br /><br />

<%# 通知／エラーメッセージ %>
<% unless flash[:notice].blank? %>
  <p style="color: green;"><%=raw flash[:notice] %></p>
<% end %>

<% unless flash[:alert].blank? %>
  <p style="color: red;"><%=raw flash[:alert] %></p>
<% end %>
  
<%= yield %>

</body>
</html>
